.star-image {
    height: 30px;
    width: 30px;
  }
  
  .starButton {
    height: 30px;
    width: 30px;
    background-color: transparent;
    border-width: 0px;
    margin-left: 40px;
  }
  
  .name {
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: 600;
    color: #171f46;
  }
  
  .title-star-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
  }
  
  .appointment-item {
    display: flex;
    flex-direction: column;
    border: 1px #b5b7c4 solid;
    padding: 5px;
    width: 30%;
    border-radius: 10px;
    margin: 10px;
  }
  
  .appointmentDate {
    font-family: 'Roboto';
    font-size: 15px;
    font-weight: 600;
    color: #b5b7c4;
  }
  
  @media screen and (max-width: 767px) {
    .appointment-item {
      width: 250px;
    }
  
    .appointmentDate {
      font-size: 10px;
    }
  }